.o_form_sheet_bg .o_form_sheet {
    max-width: 960px; /* O el ancho que desees */
    margin: 0 auto;
    border: 1px solid #ddd;
    background-color: white;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}
