.o_form_sheet_bg .o_form_sheet {
    max-width: 960px; /* O el ancho que desees */
    margin: 0 auto;
    border: 1px solid #ddd;
    background-color: white;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}


.o_form_button_save::after {
    content: "Guardar";
    padding: 2px;

}

.o_form_button_save {
    font-size: 15px;
    background-color: rgb(93, 141, 168);
    color: #fff;
    border: 1px solid #ddd;
}

.o_form_button_cancel::after {
    content: "Descartar";
    padding: 2px;

}

.o_form_button_cancel {
    font-size: 15px;
    background-color: #dee2e6;
    color: #000;
    border: 1px solid #ddd;

}

.oe_chatter{
    width:100% !important;
}

.botones-right {
    position: absolute;
    right: 0;
}

div [name=ppp_speed_chart],div [name=isp_radius_ids],div [name=ip_address_pool_ids], div [name=ip_address_ids], div[name=onu_ids_silver] {
    width:100% !important;
}

.o_form_renderer {
    display: inline-block !important;
    width: 100% !important;
}